<a href="https://colab.research.google.com/github/marciadartup/Portif-lio/blob/master/Exerc%C3%ADcios_Resolvidos_Tipos_de_Vari%C3%A1veis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img alt="Colaboratory logo" width="15%" src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/novo_logo_bg_claro.png">

#### **Python do Zero**
*by [sigmoidal.ai](https://sigmoidal.ai)*

---

## Variáveis em Python

<center><img alt="Tipos" width="40%" src="https://image.freepik.com/free-photo/top-view-different-types-tools_23-2148428335.jpg"></center>

Em Python, podemos associar valores a variáveis, para que sejam armazenados e facilmente acessados ao longo do seu código.

Pense na variável como um "nome" para o objeto que estamos manipulando.

Diferente de outras linguagens, as variáveis não precisam ser definidas anteriormente, podemos criá-las no momento da associação

Para associarmos um valor a uma variáveis, basta usar o operador que indica associação `=`.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
# associando o número 300 à variável x
x = 300

Após associarmos o valor 300 à variável `x`, podemos acessá-la utilizando a mesma, ou mesmo a função `print`.

In [ ]:
# chamando a variável diretamente
x

300

In [ ]:
# imprimindo a variável com print
print(x)

300

Também podemos associar um novo valor a essa variável, para que a partir desse momento, ela assuma um novo valor.

In [ ]:
print("Valor inicial:", x)

# atribuir novo valor
x = 100

print("Valor novo:", x)

Valor inicial: 300
Valor novo: 100

## Tipos de Variáveis

Além de utilizarmos `integers`, ou inteiros, podemos usar outros tipos de variáveis como `strings`, ou `floats`.

Vamos ver na prática como isso fucniona.

### Integers
Para utilizar inteiros, basta criar a variável como tal, sem valores decimais.

In [ ]:
# integers
x = 50
print(x)

50

### Floats
Ao utilizar Floats, precisamos ter cuidado com uma detalhe. A vírgula, em Python, serve pra enumeração, e não para casas decimais.

Para definir casas decimais, vamos utilizar o ponto `.`

Para criar um float, basta associar à variável um número que possua casa decimal.

In [ ]:
# float
x = 25.0
print(x)

25.0

### Strings
Strings são nossa linguagem natural, utilizando caracteres e palavras.

Para criar strings, precisamos colocar nosso conteúdo entre parênteses.

In [ ]:
# string
x = "Data Science é a profissão mais sexy do mundo."
print(x)

Data Science é a profissão mais sexy do mundo.

## Verificando o Tipo da Variável

É claro que você vai sempre criar as variáveis da forma desejada, e seguindo os padrões para não encontrar erros ou problemas no seu código.

Entretanto, não é incomum encontrarmos, por exemplo, números que estão em formato string, e por isso, se comportarão como tal, não permitindo operações matemáticas, por exemplo.

Para que possamos descobrir o tipo das nossas variáveis, temos a função `type`.

In [ ]:
# imprimindo a variável
x = 100
print(x)

# verificando o tipo
type(x)

100

int

### Criando Variáveis a Partir de Variáveis

Também podemos criar cópias das variáveis, associando novas variáveis a ela.

Isso nos permite explorar a variável sem alterar a original.

In [ ]:
# criando uma variável através da variável original
print("Variável x: ", x)

y = x

print("Variável y: ", y)

Variável x:  100
Variável y:  100

Podemos fazer isso com qualquer tipo de variável.

Também podemos criar a nova variável a partir de uma operação feita com a variável original.

In [ ]:
# criando uma nova variável com operações
x = 10

y = x * 10

print(y)

100

É importante entender que o relacionamento entre as duas acaba no momento da associação. 

Após isso, elas funcionam independentes uma da outra, portanto, alterações feitas em uma não afetam a outra.

In [ ]:
# criando as variáveis
print('Criando as Variáveis')
x = 10

y = x
# resultado
print('x:', x)
print('y:', y)


print('\nTransformação x = y + 10')
x = y + 10
# resultado
print ('Novo x:', x)
print ('y:', y)


print('\nTransformação y = y/2')
y = y/2

# resultado
print('x:', x)
print('Novo y:', y)

Criando as Variáveis
x: 10
y: 10

Transformação x = y + 10
Novo x: 20
y: 10

Transformação y = y/2
x: 20
Novo y: 5.0

## Exercícios

Agora, vamos testar nosso conhecimento sobre as variáveis.

<center><img alt="Tipos" width="40%" src="https://image.freepik.com/free-photo/notebook-calculator-rubiks-cube-chalkboard_23-2147849672.jpg"></center>

#### Exercício 1

Crie uma variável do tipo `integer`, chamada x, e associe a ela sua idade.

In [ ]:
# resposta

x = 49
x

49

In [ ]:
#@title Solução
x = 36

#### Exercício 2

Crie uma variável do tipo `float`, chamada y, e associe a ela o preço de uma barra de chocolate.

In [ ]:
# resposta

y = 3.50

In [ ]:
y

3.5

In [ ]:
#@title Solução
y = 2.99

#### Exercício 3
Crie uma variável do tipo `string`, chamada `nome` e associe a ela o seu nome.

In [ ]:
# resposta
nome =  ("Márcia Alves")
nome

'Márcia Alves'

In [ ]:
#@title Solução
nome = "Sigmoidal "

#### Exercício 4

Verifique o tipo das variáveis `x`, `y`, `nome`.

Dica: A função print vai ajudar a fazer tudo em uma célula só.

In [ ]:
# resultado

print('x:', "<Class int>")
print('y:', "<Class float>")
print ("nome:", "<Class str>")

x: <Class int>
y: <Class float>
nome: <Class str>

In [ ]:
#@title Solução
print('x:', type(x))
print('y:', type(y))
print('nome:', type(nome))

x: <class 'int'>
y: <class 'float'>
nome: <class 'str'>

#### Exercício 5

Crie uma variável que seja que calcule o ano em que você nasceu, utilizando operadores matemáticos e sua variável `x`.

In [ ]:
# resultado
x =  2020 - 48
x

1972

In [ ]:
#@title Solução
x = 2020 - x
print(x)

1972

### Exercício 6

Crie uma variável para o preço de 3 barras de chocolate, usando a variável `y`.

In [ ]:
# resultado

preco3 = y 
preco3

10.5

In [ ]:
#@title Solução
y = y * 3
print(y)

10.5

### Exercício 7
Crie uma variável que contenha o seu nome 10 vezes, utilizando a variável `nome`.

In [ ]:
# resultado
nome1 = ('marcia.marcia.marcia.marcia.marcia.marcia.marcia.marcia.marcia.marcia')
print('nome1')
print(nome1)
nome1

nome1
marcia.marcia.marcia.marcia.marcia.marcia.marcia.marcia.marcia.marcia

'marcia.marcia.marcia.marcia.marcia.marcia.marcia.marcia.marcia.marcia'

In [ ]:
#@title Solução
nome = 'Carlos'
nome = nome * 10
print(nome)

CarlosCarlosCarlosCarlosCarlosCarlosCarlosCarlosCarlosCarlos