<a href="https://colab.research.google.com/github/marciadartup/Portif-lio/blob/master/M%C3%B3dulo_4_PDZ_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Listas

Listas são sequências de valores, onde cada valor é identificado por um índice referente a sua posição. O tipo de variável das listas é `list`, e você vai ver como elas são extremamente úteis para manipulação dos dados.


<center><img width="45%" src="https://image.freepik.com/free-vector/check-list-with-businessman-flat-design_79603-145.jpg"></center>

Detalhe importante, as listas são mutáveis, compostas de diversos valores, chamados elementos ou itens, e que podem ser de diferentes tipos.

Para criar uma lista, utilizaremos colchetes `[]`.

In [1]:
# criar uma lista
lista_inicial = []
print(lista_inicial)
print(type(lista_inicial))

[]
<class 'list'>

Nós podemos inserir items de diferentes tipos dentro de uma lista.

In [4]:
# criar uma lista com itens
lista_inicial = ["Marcia", "Alves", 1.55, True]
print(lista_inicial)

['Marcia', 'Alves', 1.55, True]

#### Acessando um elemento

Na última célula acima, criamos uma lista `lista_inicial = ["Marcia", "Alves", 1.55, True]`.

Para acessar qualquer elemento dessa lista, precisamos indicar qual o índice referente à posição do mesmo. Lembre-se que o primeiro elemento contém a indexação igual a $0$!

| "Marcia" | "Alves" | 1\.55 | True |
|----------|--------|-------|------|
| 0        | 1      | 2     | 3    |
| \-4      | \-3    | \-2   | \-1  |

O Python também permite você acessar elementos a partir do último, bastando usar o $-1$ para a última casa e ir subtraindo 1 para as posições anteriores.

In [5]:
# acessar o elemento "Alves"
print(lista_inicial[1])

Alves

In [6]:
# acessar o penúltimo elemento
print(lista_inicial[-2])

1.55

In [7]:
# erro ao tentar acessar um valor que não está no range da lista
print(lista_inicial[11])

IndexError: ignored

#### Fatias de Listas

Da mesma maneira que conseguimos "fatiar" um string, é possível fatiar uma lista. No caso, fatiar significa acessar itens que estejam dentro de um intervalo considerado.

| "Eduarda" | "Estudante" | 222\.50 | 433\.80 | 591\.66 | 124\.20 |
|-----------|-------------|---------|---------|---------|---------|
| 0         | 1           | 2       | 3       | 4       | 5       |
| \-6       | \-5         | \-4     | \-3     | \-2     | \-1     |


Vamos ver como isso funciona na prática, criando e fatiando uma lista.

In [8]:
# gastos por trimestre
cliente = ["Eduarda", "Estudante", 222.50, 433.80, 591.66, 124.20]

In [9]:
# acessar as últimas quatro colunas:
cliente[2:]

[222.5, 433.8, 591.66, 124.2]

#### Verificando se um item pertence à lista

É possível checar se um determinado item está ou não em uma lista. Isso pode ser feito usando  `in` ou `not in`, que irão retornar uma resposta booleana.

In [10]:
# criar lista de convidados
convidados = ["Ricardo", "Aline", "Carlos", "Mathias", "Elaine"]

In [11]:
# ver se Elaine está entre os convidados
"Elaine" in convidados

True

In [12]:
# confirmar se Pablo não foi convidado
"Pablo" not in convidados

True

#### Alterar um item da minha lista

Uma vez que as listas são mutáveis, é possível acessar um índice e alterar o conteúdo dele.

In [13]:
# carteira de ações
carteira = ["BBAS3", "WEGE3", "ITSA4"]

print(carteira)

['BBAS3', 'WEGE3', 'ITSA4']

In [14]:
# trocar a ITSA4 por PETR4
carteira[2] = "PETR4"

print(carteira)

['BBAS3', 'WEGE3', 'PETR4']

#### Adicionando ou excluindo itens de listas

Para acrescentar um item ao final de uma lista, você pode usar o método `append()`. 

Para excluir um item, pode ser usado tantos o método `pop()` quanto o `remove()`. A diferença entre eles é que enquanto o primeiro recebe a posição do item como argumento, o segundo considera o próprio valor do item.

In [15]:
# Acrescentar "Ana Cristina" à lista
convidados = ["Ricardo", "Aline", "Carlos", "Mathias", "Elaine"]

convidados.append("Ana Cristina")
print(convidados)

['Ricardo', 'Aline', 'Carlos', 'Mathias', 'Elaine', 'Ana Cristina']

In [16]:
# Excluir o primeiro convidado da lista

convidados.pop(0)
print(convidados)

['Aline', 'Carlos', 'Mathias', 'Elaine', 'Ana Cristina']

In [17]:
# Excluir o "Carlos" dos convidados

convidados.remove("Carlos")
print(convidados)

['Aline', 'Mathias', 'Elaine', 'Ana Cristina']

## Exercícios

Listas serão usadas com frequência quandon lidamos com Python, por isso, estar afiado na manipulação desse tipo de dados é essencial.

Por isso, vamos praticar!


<center><img width="50%" src="https://image.freepik.com/free-photo/rear-view-programmer-working-all-night-long_1098-18697.jpg"></center>

### Exercício 1

Crie uma lista que contenha o nome de 5 frutas.

In [38]:
# resposta
lista_frutas = ['maca','pera','banana','melao','tomate']

In [42]:
print(lista_frutas)

['maca', 'pera', 'banana', 'melao', 'tomate']

In [ ]:
#@title Solução
frutas = ['Banana', 'Uva', 'Maçã', 'Abacaxi', 'Kiwi']
print(frutas)

#### Exercício 2

Adicione à sua lista de frutas:

* Uma sexta fruta
* Um objeto de tipo `int`
* Um objeto de tipo `float`

In [43]:
# resposta
lista_frutas.append('mamao')

In [45]:
lista_frutas.append('5')

In [47]:
lista_frutas.append('2.50')

In [48]:
print (lista_frutas)

['maca', 'pera', 'banana', 'melao', 'tomate', 'mamao', '5', '2.50']

In [31]:
#@title Solução
# adicionando a fruta
frutas.append('Melancia')

# adicionando o int
frutas.append(5)

#adicionando o float
frutas.append(5.0)

# verificando o resultado
print(frutas)

['Banana', 'Uva', 'Maçã', 'Abacaxi', 'Kiwi', 'Melancia', 5, 5.0]

#### Exercício 3
Verifique se os seguintes itens estão na lista:

* Maçã
* Mamão
* 90

In [51]:
# resposta
'Maçã', in lista_frutas
'Mamâo' in lista_frutas
'90' in lista_frutas

False

In [52]:
#@title Solução

print('A fruta Maçã está na lista? {}'.format('Maçã' in frutas))
print('A fruta Mamão está na lista? {}'.format('Mamão' in frutas))
print('O número 90 está na lista? {}'.format(90 in frutas))

A fruta Maçã está na lista? True
A fruta Mamão está na lista? False
O número 90 está na lista? False

#### Exercício 4

Execute as seguintes tarefas com a sua lista:

* Substitua o item no index 3 pelo número `35`.
* Remova da lista o item no index 3.
* Remova todos os items da lista.

In [53]:
# resposta

lista_frutas [3] = '35'

In [54]:
print(lista_frutas)

['maca', 'pera', 'banana', '35', 'tomate', 'mamao', '5', '2.50']

In [55]:
lista_frutas.pop(3)

'35'

In [61]:
lista_frutas.remove('maca')

In [ ]:
#@title Solução
# item 2 da lista antes da alteração
print('Item no index 2 antes da alteração: ',frutas[2])

# alterando o item no index 2
frutas[2] = 35
print('Novo item no index 2: ', frutas[2])

# removendo o item
frutas.pop(2)
print('Lista sem o item "35": ', frutas)

# limpando a lista
frutas.clear()
print('Lista vazia: ', frutas)

In [74]:
lista_frutas.pop()

'pera'

In [75]:
print(lista_frutas)

[]